body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

header{
    background-color: rgb(255, 255, 255);
    color: #07c2ec;


    margin: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "Header Nav Nav"
                         "line line line";

}
.Title{
    font-size:35px;
    padding: 10px;
    margin: 0;
}
.Title img{
    
    width: 96px;
}
nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
nav a{
    color: #07c2ec;
    font-weight: bold ;
    text-decoration: none;
 }


header{
    grid-area: Header; 
}
a:hover{
    transition: .5s;
    color: #0eadd1;
}
span{
    grid-area: line;
}
header hr{
    width: 90%;
    margin-top: 0;
}


/* burguer menu */

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: #07c2ec;
    font-weight: bold ;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  .topnav a:hover{
    background-color: #07c2ec;
    color: white;
  }
  
  .icon{
    display: none;
    text-decoration: none;
    color: #07c2ec;
    font-size: 35px;
    
  }
  
  
  .topnav{
      display: none;
  }
  @media only screen and (max-width: 600px) {
    .icon{
        display: flex;
    align-items: center;
    justify-content: center;
    }
    header{
        border-bottom: 1px solid #555;
        grid-template-areas:"Header Nav Nav"
                            "line line line";
    }
    nav span{
        display: none;
    }
    nav a{
        display: none;
    }
    .topnav{
    grid-area: line;
    display: block;
}


}


